<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="../../public/css/formularios.css">
</head>
<body>
    <form action="./registrarse.html" method="get">
    <div class="falloInicioSesion">
        <p>Este nombre de usuario ya está registrado.</p>
        <p>Pruebe otro o inicie sesion</p>
        <input type="submit" value="Intentar de nuevo">
    </div>
    </form>
</body>
</html>