<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="../../public/css/formularios.css">
</head>
<body>
    <form action="vistaPrincipal.php" method="post">
    <div class="falloInicioSesion">
        <p>¡Felicidades!</p>
        <p>Te has registrado correctamente.</p>
        <input type="submit" value="Aceptar">
    </div>
    </form>
</body>
</html>